<ActionBar>
    <Label text="DevMeetings COVID-19"></Label>
</ActionBar>

<GridLayout columns="*, *, *, *, *, *, *, *" rows="*, *, *, *" backgroundColor="white">
    <Label text="" row="0" col="0" rowSpan="2" colSpan="4" backgroundColor="#40e0d0"></Label>
    <Label text="" row="0" col="4" rowSpan="1" colSpan="2" backgroundColor="red"></Label>
    <Label text="" row="0" col="6" rowSpan="1" colSpan="2" backgroundColor="orange"></Label>
    <Label text="" row="1" col="4" rowSpan="1" colSpan="4" backgroundColor="yellow"></Label>

    <Button row="2" col="3" rowSpan="1" colSpan="2" text="Tap me!" [value]="counter" (tap)="tapCounter()">TapMe</Button>
    <Label [text]="counter" row="3" col="4" rowSpan="1" colSpan="1"></Label>
</GridLayout>
